.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

nav {
  display: flex;
  gap: 10px;
}

cat-image-link {
  margin-right: 10px; /* Adjust the value as needed */
  display: flex;
}


#randomCatButton {
background-color: white;
font-size: 18px;
border-radius: 12px;

}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}





